<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/globals.css" />
    <link rel="stylesheet" href="css/styleguide.css" />
    <link rel="stylesheet" href="css/foreign_subscriptions.css" />
  </head>
  <body>
    <div class="screen">
      <div class="navbar">
        <div class="div">
          <div class="logo">
            <a href="/" class="logo">
                <img class="img" src="img/logo.svg" />
              <div class="flowbite">SubMaster</div>
              </a>
          </div>
          <div class="nav-links">
            <div class="link"><div class="text"><a class="text" href="/subscriptions">Мои подписки</a></div></div>
            <div class="link"><div class="text"><a class="text" href="/foreigns">Зарубежные сервисы</a></div></div>
          </div>
          <button class="CTA">
            <div class="icons-avatar">
              <img class="bell" src="img/bell.svg" />
              <img class="avatar" src="img/Avatar.png"/>
            </div>
            <div class="text-wrapper"><a class="text-wrapper" href="/profile">Николай</a></div>
          </button>
        </div>
      </div>
      <div class="frame-2">
        <div class="div-wrapper"><div class="text-wrapper-2">Зарубежные сервисы</div></div>
        <div class="frame-3">
          <div class="view">
            <div class="card-header"><image class="image" src="img/spotify.png.png"/></div>
            <div class="content">
              <div class="heading-stars"><div class="heading">Spotify</div></div>
              <div class="price-button">
                <div class="heading-2">от 1298,37₽</div>
                <a href="/buySub?name=Spotify"><button class="button"><div class="text-2">Подробнее</div></button></a>
              </div>
            </div>
          </div>
          <div class="view">
            <div class="card-header"><image class="image" src="img/netflix.png.png"/></div>
            <div class="content">
              <div class="heading-stars"><div class="heading">Netflix</div></div>
              <div class="price-button">
                <div class="heading-2">от 835,92₽</div>
                <a href="/buySub?name=Netflix"><button class="button"><div class="text-2">Подробнее</div></button></a>
              </div>
            </div>
          </div>
          <div class="view">
            <div class="card-header"><image class="image" src="img/apple.png.png"/></div>
            <div class="content">
              <div class="heading-stars"><div class="heading">Apple</div></div>
              <div class="price-button">
                <div class="heading-2">от 378,59₽</div>
                <a href="/buySub?name=Apple"><button class="button"><div class="text-2">Подробнее</div></button></a>
              </div>
            </div>
          </div>
          <div class="view">
            <div class="card-header"><image class="image" src="img/nintendo.png"/></div>
            <div class="content">
              <div class="heading-stars"><div class="heading">Nintendo</div></div>
              <div class="price-button">
                <div class="heading-2">от 382,83₽</div>
                <a href="/buySub?name=Nintendo"><button class="button"><div class="text-2">Подробнее</div></button></a>
              </div>
            </div>
          </div>
          <div class="view">
            <div class="card-header"><image class="image" src="img/microsoft.png"/></div>
            <div class="content">
              <div class="heading-stars"><div class="heading">Microsoft</div></div>
              <div class="price-button">
                <div class="heading-2">от 377,48₽</div>
                <a href="/buySub?name=Microsoft"><button class="button"><div class="text-2">Подробнее</div></button></a>
              </div>
            </div>
          </div>
          <div class="view">
            <div class="card-header"><image class="image" src="img/xbox.png"/></div>
            <div class="content">
              <div class="heading-stars"><div class="heading">XBox</div></div>
              <div class="price-button">
                <div class="heading-2">от 377,48₽</div>
                <a href="/buySub?name=XBox"><button class="button"><div class="text-2">Подробнее</div></button></a>
              </div>
            </div>
          </div>
          <div class="view">
            <div class="card-header"><image class="image" src="img/playstation.png"/></div>
            <div class="content">
              <div class="heading-stars"><div class="heading">PlayStation</div></div>
              <div class="price-button">
                <div class="heading-2">от 965,04₽</div>
                <a href="/buySub?name=PlayStation"><button class="button"><div class="text-2">Подробнее</div></button></a>
              </div>
            </div>
          </div>
          <div class="view">
            <div class="card-header"><image class="image" src="img/discord.png"/></div>
            <div class="content">
              <div class="heading-stars"><div class="heading">Discord</div></div>
              <div class="price-button">
                <div class="heading-2">от 359,73₽</div>
                <a href="/buySub?name=Discord"><button class="button"><div class="text-2">Подробнее</div></button></a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="pagination">
          <div class="page-item"><img class="img" src="img/chevron-left.svg" /></div>
          <div class="page-item-2"><div class="text-3">1</div></div>
          <div class="page-item-2"><div class="text-3">2</div></div>
          <div class="page-item-2"><div class="text-3">3</div></div>
          <div class="page-item-2"><img class="img" src="img/chevron-right.svg" /></div>
        </div> -->
      </div>
      <footer class="footer"><p class="p">©SubMaster, Москва. Все права защищены</p></footer>
    </div>
  </body>
</html>