<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/globals.css" />
    <link rel="stylesheet" href="css/styleguide.css" />
    <link rel="stylesheet" href="css/mail.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="navbar">
          <div class="navbar-2">
            <div class="logo">
              <a href="/" class="logo">
                <img class="img" src="img/logo.svg" />
              <div class="flowbite">SubMaster</div>
              </a>
            </div>
            <div class="nav-links"></div>
            <div class="CTA">
              <div class="text"><a href="/login" class="text">Войти</a></div>
              <button class="button"><a class="text-wrapper" href="/register">Зарегистрироваться</a></button>
            </div>
          </div>
        </div>
        <footer class="footer"><p class="p">©SubMaster, Москва. Все права защищены</p></footer>
        <div class="card">
          <div class="heading">Зарегистрироваться в SubMaster</div>
          <div class="inputs">
            <div class="input-field">
              <div class="label">Электронная почта</div>
              <div class="input">
                <div class="content">
                  <img class="envelope" src="https://c.animaapp.com/BPaNVhWj/img/envelope.svg" />
                  <input class="input-text" placeholder="test@mail.ru" type="email" />
                </div>
              </div>
            </div>
            <div class="input-number">
              <div class="label-2">Код подтверждения</div>
              <div class="content">
                <input class="input" placeholder="123456" type="number" />
              </div>
            </div>
          </div>
          <div class="button-helper-text">
            <button class="button-2"><div class="text-wrapper"><a class="text-wrapper" href="/subscriptions">Подтвердить</a></div></button>
          </div>
        </div>
        <img class="casual-man-waving" src="https://c.animaapp.com/BPaNVhWj/img/casual-man-waving-hand--hd--1.png" />
      </div>
    </div>
  </body>
</html>