<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/globals.css" />
    <link rel="stylesheet" href="css/styleguide.css" />
    <link rel="stylesheet" href="css/register.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="navbar">
          <div class="navbar-2">
            <div class="logo">
              <a href="/" class="logo">
                <img class="img" src="img/logo.svg" />
              <div class="flowbite">SubMaster</div>
              </a>
            </div>
            <div class="nav-links"></div>
            <div class="CTA">
              <div class="text"><a href="/login" class="text">Войти</a></div>
              <button class="button"><a class="text-wrapper" href="/register">Зарегистрироваться</a></button>
            </div>
          </div>
        </div>
        <footer class="footer"><p class="p">©SubMaster, Москва. Все права защищены</p></footer>
        <div class="card">
          <div class="heading">Зарегистрироваться в SubMaster</div>
          <div class="inputs">
            <div class="input-field">
              <div class="label">Электронная почта</div>
              <div class="input">
                <div class="content">
                  <img class="envelope" src="https://c.animaapp.com/BPaNVhWj/img/envelope.svg" />
                  <input class="input-text" placeholder="name@flowbite.com" type="email" required/>
                </div>
              </div>
            </div>
            <div class="input-field">
              <div class="label-2">Пароль</div>
              <div class="input">
                <div class="content"><input class="input-text" placeholder="••••••••••" type="password" required /></div>
              </div>
            </div>
            <div class="input-field">
              <div class="label-2">Повторите пароль</div>
              <div class="input">
                <div class="content"><input class="input-text" placeholder="••••••••••" type="password" required/></div>
              </div>
            </div>
          </div>
          <div class="button-helper-text">
            <a href="/mail"><button class="button-2"><div class="text-wrapper">Зарегистрироваться</div></button></a>
            <p class="not-registered">
              <span class="span">Зарегистрированы?</span> <span class="text-wrapper-2"> <a href="/login">Войти в аккаунт</a></span>
            </p>
          </div>
        </div>
        <img class="casual-man-waving" src="https://c.animaapp.com/BPaNVhWj/img/casual-man-waving-hand--hd--1.png" />
      </div>
    </div>
  </body>
</html>