.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    background-color: #ffffff;
  }
  
  .screen .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-6);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--colors-white);
    gap: var(--spacing-0);
  }
  
  .screen .div {
    display: flex;
    width: 1280px;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
    position: relative;
    flex: 0 0 auto;
  }
  
  .screen .logo {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-3);
    position: relative;
    flex: 0 0 auto;
  }
  
  .screen .frame {
    position: relative;
    width: 32px;
    height: 32px;
  }
  
  .screen .flowbite {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-2xl-font-semibold-font-family);
    font-weight: var(--text-2xl-font-semibold-font-weight);
    color: var(--colors-gray-900);
    font-size: var(--text-2xl-font-semibold-font-size);
    letter-spacing: var(--text-2xl-font-semibold-letter-spacing);
    line-height: var(--text-2xl-font-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-2xl-font-semibold-font-style);
  }
  
  .screen .nav-links {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .screen .link {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    gap: var(--spacing-0);
  }
  
  .screen .text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-base-font-medium-font-family);
    font-weight: var(--text-base-font-medium-font-weight);
    color: var(--colors-gray-900);
    font-size: var(--text-base-font-medium-font-size);
    text-align: center;
    letter-spacing: var(--text-base-font-medium-letter-spacing);
    line-height: var(--text-base-font-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-base-font-medium-font-style);
  }
  
  .screen .CTA {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-4);
    position: relative;
    flex: 0 0 auto;
  }
  
  .screen .icons-avatar {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-5);
    position: relative;
    flex: 0 0 auto;
  }
  .screen .bell {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .screen .avatar {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background-image: url(./img/avatar.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .screen .text-wrapper {
    color: var(--colors-black);
    font-size: var(--text-lg-font-medium-font-size);
    line-height: var(--text-lg-font-medium-line-height);
    position: relative;
    width: fit-content;
    font-family: var(--text-lg-font-medium-font-family);
    font-weight: var(--text-lg-font-medium-font-weight);
    letter-spacing: var(--text-lg-font-medium-letter-spacing);
    white-space: nowrap;
    font-style: var(--text-lg-font-medium-font-style);
  }
  
  .screen .frame-2 {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 808px;
    align-items: center;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .screen .div-wrapper {
    display: flex;
    height: 54px;
    align-items: flex-start;
    justify-content: space-around;
    gap: 30px;
    position: relative;
    align-self: stretch;
    width: 100%;
    z-index: 2;
  }
  
  .screen .text-wrapper-2 {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--text-4xl-font-semibold-font-family);
    font-weight: var(--text-4xl-font-semibold-font-weight);
    color: #000000;
    font-size: var(--text-4xl-font-semibold-font-size);
    letter-spacing: var(--text-4xl-font-semibold-letter-spacing);
    line-height: var(--text-4xl-font-semibold-line-height);
    font-style: var(--text-4xl-font-semibold-font-style);
  }
  
  .screen .frame-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px 30px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    z-index: 1;
  }
  
  .screen .view {
    display: flex;
    flex-direction: column;
    width: 275px;
    align-items: center;
    position: relative;
    background-color: var(--colors-white);
    border-radius: var(--border-radius-rounded-lg);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--colors-gray-200);
    box-shadow: var(--shadow-md);
    gap: var(--spacing-0);
  }
  
  .screen .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2-5);
    padding: var(--spacing-6) var(--spacing-4) var(--spacing-6) var(--spacing-4);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  .screen .image {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 174px;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
    gap: var(--spacing-0);
  }
  
  .screen .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-5);
    padding: var(--spacing-0) var(--spacing-5) var(--spacing-5) var(--spacing-5);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .screen .heading-stars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .screen .heading {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--leading-tight-text-3xl-font-bold-font-family);
    font-weight: var(--leading-tight-text-3xl-font-bold-font-weight);
    color: var(--colors-gray-900);
    font-size: var(--leading-tight-text-3xl-font-bold-font-size);
    text-align: center;
    letter-spacing: var(--leading-tight-text-3xl-font-bold-letter-spacing);
    line-height: var(--leading-tight-text-3xl-font-bold-line-height);
    font-style: var(--leading-tight-text-3xl-font-bold-font-style);
  }
  
  .screen .price-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2-5);
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .screen .heading-2 {
    position: relative;
    flex: 1;
    font-family: var(--leading-tight-text-xl-font-bold-font-family);
    font-weight: var(--leading-tight-text-xl-font-bold-font-weight);
    color: var(--colors-gray-900);
    font-size: var(--leading-tight-text-xl-font-bold-font-size);
    letter-spacing: var(--leading-tight-text-xl-font-bold-letter-spacing);
    line-height: var(--leading-tight-text-xl-font-bold-line-height);
    font-style: var(--leading-tight-text-xl-font-bold-font-style);
  }
  
  .screen .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    padding: var(--spacing-2) var(--spacing-3) var(--spacing-2) var(--spacing-3);
    position: relative;
    flex: 0 0 auto;
    background-color: var(--colors-primary-700);
    border-radius: var(--border-radius-rounded-lg);
    overflow: hidden;
  }
  
  .screen .text-2 {
    margin-top: -1.00px;
    color: var(--colors-white);
    font-size: var(--text-sm-font-medium-font-size);
    line-height: var(--text-sm-font-medium-line-height);
    position: relative;
    width: fit-content;
    font-family: var(--text-sm-font-medium-font-family);
    font-weight: var(--text-sm-font-medium-font-weight);
    letter-spacing: var(--text-sm-font-medium-letter-spacing);
    white-space: nowrap;
    font-style: var(--text-sm-font-medium-font-style);
  }
  
  .screen .image-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 174px;
    background-image: url(./img/image-2.png);
    background-size: cover;
    background-position: 50% 50%;
    gap: var(--spacing-0);
  }
  
  .screen .image-3 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 174px;
    background-image: url(./img/image-6.png);
    background-size: cover;
    background-position: 50% 50%;
    gap: var(--spacing-0);
  }
  
  .screen .image-4 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 174px;
    background-image: url(./img/image-3.png);
    background-size: cover;
    background-position: 50% 50%;
    gap: var(--spacing-0);
  }
  
  .screen .image-5 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 174px;
    background-image: url(./img/image-7.png);
    background-size: cover;
    background-position: 50% 50%;
    gap: var(--spacing-0);
  }
  
  .screen .image-6 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 174px;
    background-image: url(./img/image-4.png);
    background-size: cover;
    background-position: 50% 50%;
    gap: var(--spacing-0);
  }
  
  .screen .image-7 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 174px;
    background-image: url(./img/image-8.png);
    background-size: cover;
    background-position: 50% 50%;
    gap: var(--spacing-0);
  }
  
  .screen .image-8 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 174px;
    background-image: url(./img/image-5.png);
    background-size: cover;
    background-position: 50% 50%;
    gap: var(--spacing-0);
  }
  .screen .pagination {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -1.00px;
    z-index: 0;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--colors-gray-300);
    gap: var(--spacing-0);
  }
  
  .screen .page-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-1-5) var(--spacing-3) var(--spacing-1-5)
      var(--spacing-3);
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
    background-color: var(--colors-white);
    gap: var(--spacing-0);
  }
  
  .screen .img {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .screen .page-item-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-1-5) var(--spacing-3) var(--spacing-1-5)
      var(--spacing-3);
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
    margin-top: -1.00px;
    background-color: var(--colors-white);
    border: 1px solid;
    border-color: var(--colors-gray-300);
    gap: var(--spacing-0);
  }
  
  .screen .text-3 {
    margin-top: -0.50px;
    color: var(--colors-gray-500);
    font-size: var(--text-sm-font-medium-font-size);
    text-align: center;
    line-height: var(--text-sm-font-medium-line-height);
    position: relative;
    width: fit-content;
    font-family: var(--text-sm-font-medium-font-family);
    font-weight: var(--text-sm-font-medium-font-weight);
    letter-spacing: var(--text-sm-font-medium-letter-spacing);
    white-space: nowrap;
    font-style: var(--text-sm-font-medium-font-style);
  }
  
  .screen .footer {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 72px;
    background-color: #ffffff;
  }
  
  .screen .p {
    position: absolute;
    top: -1px;
    left: 76px;
    font-family: var(--text-lg-font-normal-font-family);
    font-weight: var(--text-lg-font-normal-font-weight);
    color: var(--colors-gray-500);
    font-size: var(--text-lg-font-normal-font-size);
    letter-spacing: var(--text-lg-font-normal-letter-spacing);
    line-height: var(--text-lg-font-normal-line-height);
    white-space: nowrap;
    font-style: var(--text-lg-font-normal-font-style);
  }